@import '/lib/extra-bootstrap/dist/scss/variables';

.testItem {
    margin: 2px 0;
    padding-bottom: 10px;

    .testItemName {
        font-size: larger;
        font-weight: 400;
        a:hover {
            cursor: pointer;
        }
    }
    .testItemDescriptionText {
        color: $g-400;
    }

    .testItemDate {
        color: $g-400;
    }
    .editLinkSmall {
        color: $greenPrimary;
        &:hover {
            cursor: pointer;
            color: $greenSecondary;
        }
    }
    .editLink {
        float: right;
        color: $greenPrimary;
        &:hover {
            cursor: pointer;
            color: $greenSecondary;
        }
    }
}

