<div class="userFormContainer">
  <div class="userFormContent" *ngIf="!formSent">
    <app-title
      [titleText]="titleText"
      [titleForwardText]="titleForwardText"
      [titleForwardUrl]="titleForwardUrl"
    ></app-title>
    <app-user-form
      [parentFormGroup]="form"
      [fields]="fields"
      [buttonText]="formButtonText"
      [buttonDisabled]="disableButton()"
      (submitAttempt)="submitIfValid()"
    ></app-user-form>
  </div>
  <div class="userFormStatusContent"  *ngIf="formSent">
    <app-user-form-status
      [buttonText]="statusButtonText"
      [title]="statusTitle"
      [text]="statusText"
      (acceptStatus)="statusAcceptedAction()"
    ></app-user-form-status>
  </div>
</div>
