@import '/lib/extra-bootstrap/dist/scss/global.scss';

.testItem {
    @extend .row;
    margin: 2px 0;
    padding-bottom: 10px;

    .testItemName {
        font-size: larger;
        font-weight: 400;
        a:hover {
            cursor: pointer;
        }
    }

    .imageListItemImage {
        height: 60px;        
    }

    .testItemDescriptionText {
        color: $g-400;
    }

    .testItemDate {
        color: $g-400;
    }
    .editLink {
        float: right;
        color: $greenPrimary;
        &:hover {
            cursor: pointer;
            color: $greenSecondary;
        }
    }
    .deleteLink {
        float: right;
        color: $fuscia;
        margin-left: 10px;
        &:hover {
            cursor: pointer;
            color: $light-fuscia;
        }
    }
}

