@import "/lib/extra-bootstrap/dist/scss/global.scss";

.protocolFormContainer {
    padding: 20px 10px 100px 10px;
    @extend .container;
    background-color: $white;
    .protocolFormTitleContainer {
        padding: 10px 80px 10px 30px;
    }
    .protocolFormStepContainer, .protocolFormButtonContainer  {
        padding: 20px 10px;
        @extend .d-flex; 
        @extend .justify-content-center;        
    }
}
.protocolFormStatusContentWrapper{
    @extend .container;
    @extend .d-flex;
    @extend .justify-content-center;
    .protocolFormStatusContent {
        @extend .flex-column;
        @extend .shadow;
        @extend .rounded;
        padding: 50px 10px;
        margin: 30px 20px;
        background-color: $white;
    }
}
