@import "/lib/extra-bootstrap/dist/scss/global.scss";

.testListContainer {
    @extend .container;
    background-color: $white;
    padding: 20px 10px;
    &__hasItems {
        padding: 20px 10px 100px 10px;
    }
    .testListTitleContainer {
        padding: 10px 30px;
    }
    .testListImageGallery {
        @extend .d-flex;
        @extend .flex-wrap;
        @extend .justify-content-center;
    }   
}