<div class="testListContainer" [ngClass]="tests.length ? 'testListContainer__hasItems' : ''">
  <div class="testListTitleContainer">
    <app-title
      [titleText]="titleText"
      [titleForwardText]="titleForwardText"
      (goForward)="newTest()"
    ></app-title>
  </div>
  <div class="testListFormFlexContainer">
    <app-checkbox
      class="testListFormCheckbox" 
      [parentFormGroup]="form"
      [name]="deletingEnabledField"
      [label]="deletingEnabledLabel"
      (change)="readDeletingEnabledField()"
    ></app-checkbox>
    <div class="testListForm">
      <app-search-bar
        [name]="searchField"
        [parentFormGroup]="form"
      ></app-search-bar>
    </div>
  </div>

  <app-test-list-item
    *ngFor="let test of tests | filterList: filter"
    [testItem]="test"
    [cloneFlag]="isCloneSearch"
    [deletingEnabled]="deletingEnabled"
    (showTestEvent)="showTest(test)"
    (editOrCloneAction)="editTest(test)"
    (deleteAction)="deleteTest(test)"
  ></app-test-list-item>

  <app-empty-list-message 
    *ngIf="!tests.length"
    [itemName]="itemName"
    (addAction)="newTest()"
  >
  </app-empty-list-message>

</div>
