@import "/lib/extra-bootstrap/dist/scss/global.scss";

.testListContainer {
    @extend .container;
    padding: 20px 10px 100px 10px;
    background-color: $white;
    .testListTitleContainer {
        padding: 10px 30px;
    }
    .testListSearchFlexContainer {
        @extend .d-flex; 
        @extend .flex-row-reverse;        
    }
    .testListSearchBar {
        @media screen and (min-width: 640px) {
            max-width: 280px;
            margin-right: 30px;
        }
    }
}

