<div
  class="testListContainer"
>
  <div class="testListTitleContainer">
    <app-title
      [titleText]="titleText"
      [subtitleText]="subtitleText"
      [titleBackText]="titleBackText"
      [titleBackUrl]="titleBackUrl"
    ></app-title>
  </div>
  <div class=testLongTextContainer>
    <p>
        Bienvenido a Testology proporcionado por Ashley Musick. Nos complace ofrecerle acceso al Servicio (como se define m&aacute;s
        abajo), sujeto a estos t&eacute;rminos y condiciones (los &quot;T&eacute;rminos de Servicio&quot;) y a la Pol&iacute;tica
        de Privacidad correspondiente de Testology. Al acceder y utilizar el Servicio, usted expresa
        su consentimiento, acuerdo y entendimiento de los T&eacute;rminos de Servicio y la Pol&iacute;tica de
        Privacidad. Si no est&aacute; de acuerdo con los T&eacute;rminos de Servicio o la Pol&iacute;tica de
        Privacidad, no utilice el Servicio.
        Si utiliza el servicio est&aacute; aceptando las modalidades operativas en vigencia descriptas
        m&aacute;s adelante, las declara conocer y aceptar, las que se habiliten en el futuro y en los
        t&eacute;rminos y condiciones que a continuaci&oacute;n se detallan:
    </p>

    <h3>Operaciones habilitadas.</h3>

    <p>
        Las operaciones habilitadas son aquellas que estar&aacute;n disponibles para los clientes,
        quienes deber&aacute;n cumplir los requisitos que se encuentren vigentes en su momento para
        operar el Servicio. Las mismas podr&aacute;n ser ampliadas o restringidas por el proveedor,
        comunic&aacute;ndolo previamente con una antelaci&oacute;n no menor a 60 d&iacute;as, y comprenden
        entre otras, sin que pueda entenderse taxativamente las que se indican a continuaci&oacute;n:
    </p>
        
    <ul>
        <li>Creación de una cuenta de usuario</li>
        <li>Creación y edición de los test incluyendo la posibilidad de agrupar en subtest y la creación de las preguntas</li> 
        <li>Configuración del puntaje del test</li>
        <li>Creación de un protocolo y la registración de las respuestas a las preguntas</li>
        <li>Exportación de los resultados de los protocolos</li>
    </ul>

    <p>
        En ning&uacute;n caso debe entenderse que la solicitud de un producto o servicio implica
        obligaci&oacute;n alguna para el Acceso y uso del Servicio.<br>
        Para operar el Servicio se requerir&aacute; siempre que se trate de clientes de Testology, quienes
        podr&aacute;n acceder mediante cualquier dispositivo con conexi&oacute;n a la Red Internet. El cliente
        deber&aacute; proporcionar el n&uacute;mero de documento de identidad y la clave personal, que ser&aacute;
        provista por la aplicaci&oacute;n como requisito previo a la primera operaci&oacute;n, en la forma que
        le sea requerida. La clave personal y todo o cualquier otro mecanismo adicional de
        autenticaci&oacute;n personal provisto por el Banco tiene el car&aacute;cter de secreto e intransferible,
        y por lo tanto asumo las consecuencias de su divulgaci&oacute;n a terceros, liberando a Testology
        de toda responsabilidad que de ello se derive. En ning&uacute;n caso Testology requerir&aacute; que le
        suministre la totalidad de los datos, ni enviara mail requiriendo informaci&oacute;n personal
        alguna.
    </p>
        
    <h3>Propiedad intelectual.</h3>

    <p>
        El software en Argentina est&aacute; protegido por la ley 11.723, que regula la propiedad
        intelectual y los derechos de autor de todos aquellos creadores de obras art&iacute;sticas,
        literarias y cient&iacute;ficas.
    </p>

    <h3>Privacidad de la informaci&oacute;n</h3>

    <p>
        Para utilizar los Servicios ofrecidos por Testology, los Usuarios deber&aacute;n facilitar
        determinados datos de car&aacute;cter personal. Su informaci&oacute;n personal se procesa y
        almacena en servidores o medios magn&eacute;ticos que mantienen altos est&aacute;ndares de
        seguridad y protecci&oacute;n tanto f&iacute;sica como tecnol&oacute;gica. Para mayor informaci&oacute;n sobre la
        privacidad de los Datos Personales y casos en los que ser&aacute; revelada la informaci&oacute;n
        personal, se pueden consultar nuestras pol&iacute;ticas de privacidad.
    </p>
  </div>
</div>

