@import '/lib/extra-bootstrap/dist/scss/global.scss';

.alertStatusContent {
    p {
        margin-top: 10px;
        text-align: center;
    }
    .statusTextContent {
      padding: 15% 0;
      max-width: 280px;
    }
    a {
        color: $greenPrimary;
        text-decoration: none;
        font-weight: 400;
        font-size: smaller;
        text-align: center;
    }
    
    a:hover {
        color: $greenSecondary;
        cursor: pointer;
    }
}


