<app-testology-header [userLogged]="isLogged"></app-testology-header>

<main class="main-app" [ngClass]="notificationScreen ? 'main-app-msg' : 'main-app-reg'">
  <div class="main-container-wrapper" [ngClass]="notificationScreen ? 'main-container-msg' : 'main-container-reg'">
    <router-outlet></router-outlet>
  </div>

  <div
    class="app-loader__container"
    [ngClass]="isLoading ? 'd-flex' : 'd-none'"
  >
    <div
      class="spinner-grow text-primary"
      role="status"
      style="width: 3rem; height: 3rem"
    ></div>
    <div class="app-loader__container--text">
      <span id="loadingText" class="app-loader__container--text"
        >Cargando...</span
      >
    </div>
  </div>
</main>
