@import "/lib/extra-bootstrap/dist/scss/global.scss";

.main-app {
  width: 100vw;
  height: 100vh;
  &.main-app-msg {
    background-color: $greenPrimary;
  }

  &.main-app-reg {
    background-color: $greenPrimary;
    @media screen and (max-width: 425px) {
      background-color: $white;
    }
  }
}

.main-container-wrapper {
  padding: 5rem;
  @media screen and (max-width: 425px) {
    padding: 0;
  }
  
  &.main-container-msg {
    background-color: $greenPrimary;
  }

  &.main-container-reg {
    background-color: $greenPrimary;
    @media screen and (max-width: 425px) {
      background-color: $white;
    }
  }
}

//loader
.app-loader__container {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(000, 000, 000, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .app-loader__container--text {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px;
  }

  .spinner-border {
    width: 5rem;
    height: 5rem;
  }
}
