@import '/lib/extra-bootstrap/dist/scss/variables';

.statusTextContainer {
    padding: 15% 0;
    max-width: 280px;
    p {
        text-align: center;
        margin-top: 10px;
    }

    a {
        color: $greenPrimary;
        text-decoration: none;
        font-weight: 400;
        font-size: smaller;
    }
    
    a:hover {
        color: $greenSecondary;
        cursor: pointer;
    }
}


